body{
    background-color: var(--navy);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: var(--fz-m);
}
html {
    scroll-behavior: smooth;
}
/* header*/
.header {
    height: 100px;
    width: 100%;
    position: absolute;
}
.navbar-links-container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}
button#theme {
    background-color: var(--navy);
    border: 1px var(--green) solid;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}
.theme-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.main-links{
    height: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.main-links a, a.resume-link{  
    font-family: var(--font-mono);
    text-decoration: none;
    color: var(--lightest-slate);  
    font-size: var(--fz-m); 
    font-weight: 400;
    text-align: center;
    padding: 15px;   
}
a.resume-link{
    border: 1px var(--green) solid;
    border-radius: 5px;
    margin-left: 15px;
}
.navbar-links-container a:hover {
    color: var(--green);
}

/*contact information*/
.social-network {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
.social-network ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-network li {
    padding: 10px;
}
.social-network::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}
img.github-link:hover {
    background: url(/img/icon-github-hover.png); 
    width: 30px;
    transform: scale(1.05);
}
img.telegram-link:hover {
    background: url(/img/icon-telegram-hover.png); 
    width: 30px;
    transform: scale(1.05);
}
img.vk-link:hover {
    background: url(/img/icon-vkontacte-hover.png); 
    width: 30px;
    transform: scale(1.05);
}
.email-link{ 
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.email-link a{
    text-decoration: none;
    font-family: var(--font-mono);
    font-size: var(--fz-s);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    color: var(--light-slate);
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    padding: 10px;
}
.email-link::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}
.email-link a:hover {
    color: var(--green);
    transform: scale(1.05);
}
/*Scroll to top*/
.scroll-to-top{ 
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 80px;
}
.scroll-to-top a {
    text-decoration: none;
}
.scroll-to-top a:hover {
    transform: scale(1.05);
}
/*section intro*/
.main-class {
    margin: 0;
    padding: 0 250px;
    
}
.hero-image {
    height: 100vh;
}
.hello-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello-container .hello-paragraph {
    font-size: var(--fz-m);
    font-family: var(--font-mono);
    color: var(--green);
    margin: 0 0 10px 4px;
}
.hello-container h1 {
    font-size: var(--fz-xxl);
    font-family: var(--font-sans);
    color: var(--lightest-slate);
    margin: 0;
}
.hello-container .intro-information {
    font-size: var(--fz-xl);
    font-family: var(--font-sans);
    color: var(--slate);
}
/*main - About*/
.about-container {
    padding: 100px 0;
}
.about-header, .projects-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0 40px;
    width: 100%;
    height: fit-content;
}
.about-header::after, .projects-header::after{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    margin: auto 0px;
    background-color: var(--lightest-navy);
    margin-left: 20px;
}
h2 {
    font-size: var(--fz-heading);
    font-family: var(--font-sans);
    color: var(--lightest-slate);
    margin: 0;
}
.information-paragraph {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 50px;
}

.about-text p, .about-text ul {
    font-family: var(--font-sans);
    color: var(--slate);
    font-size: var(--fz-xl);
    line-height: 1.3;
}
.about-text a {
    text-decoration: none;
    color: var(--green);
}
.about-text ul{
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    grid-column-gap: 0 10px;
}
.about-text li {
    color: var(--green);
    font-size: var(--fz-m);
    font-family: var(--font-mono);
}
.about-text li span {
    color: var(--slate);
    font-size: var(--fz-m);
    font-family: var(--font-mono);
}
.about-text li:before {
    padding-right: 10px;
}
.about-photo {
    height: 300px;
    width: 300px;
    border: 2px solid var(--green);
    border-radius: 1.5%;  
}
.about-photo img {
    width: 300px; 
    height: 300px; 
    border-radius: 1.5%;
    -webkit-filter: grayscale(99%); 
    filter: grayscale(99%); 
}
.about-photo img:hover{
    position: relative;
    bottom: 1.5px;
    right: 1.5px;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
    transition: 1s;
    
}
/*----------projects----------
all about h2 in about-header*/
.projects {
    height: 100%;
    padding-top: 100px;
    margin: 0;
}
.my-projects ul {
    margin: 0;
    padding: 0;
}
.my-projects li {
    list-style-type: none;
}
.li-project-class {
  width: 100%;
  margin-bottom: 100px;
}
.project-class { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px; 
}
.gallery__img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.img-project-left,
.img-project-right,
.info-project {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
    z-index: 1;
}

.img-project-left {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}
.info-project {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: -1;
  grid-row-end: -1;
  align-self: center;
}
.img-project-left img,
.img-project-right img {
    border-radius: 1.5%;
    -webkit-filter: grayscale(99%); 
    filter: grayscale(99%); 
}
.img-project-left a:hover,
.img-project-right a:hover {
    position: relative;
    bottom: 3px;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
    transition: 1s;
}
.info-project h3,
.info-project-right h3 {
    color: var(--lightest-slate);
    font-size: var(--fz-h3);
    font-family: var(--font-sans);
    margin: 0 0 20px;
    text-align: right;
}
.info-project-right h3{
    text-align: left;
}
.info-project a,
.info-project-right a{
    text-decoration: none;
}
.info-project h3:hover,
.info-project-right h3:hover{
    color: var(--green);
}
.project-description {
    background-color: var(--light-navy);
    border-radius: 5px;   
}
.project-description p {
    color: var(--light-slate);
    font-family: var(--font-sans);
    font-size: var(--fz-m);
    padding: 25px;
}
.project-tech-list ul,
.project-tech-list-right ul {
    margin: 25px 0 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.project-tech-list-right ul {
    justify-content: flex-start;
}
.project-tech-list li,
.project-tech-list-right li{
    color: var(--light-slate);
    font-size: var(--fz-xs);
    font-family: var(--font-mono);
    list-style-type: none;
    margin: 0 0 5px 20px;
}

.img-project-right {
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: -1;
    grid-row-end: -1;
  }
.info-project-right {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    z-index: 1;
  }
/*Get in touch*/
.container-get-in-touch {
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 50px 0;
    text-align: center;
}
.get-in-touch {
    padding: 100px 0px;   
}
.header-get-in-touch {
    font-family: var(--font-mono);
    color: var(--green);
    margin: 10px 0 20px;
}
.get-in-touch h1 {
    font-size: var(--fz-h1);
    font-family: var(--font-sans);
    color: var(--lightest-slate);
    margin: 0px 0 20px;
}
p.p-get-in-touch {
    font-size: var(--fz-xl);
    font-family: var(--font-sans);
    color: var(--slate);
    margin: 0;
}

.say-hello-botton a{  
    font-family: var(--font-mono);
    text-decoration: none;
    color: var(--lightest-slate);  
    font-size: var(--fz-m); 
    font-weight: 400;
    text-align: center;
    padding: 15px;   
}
.say-hello-botton a{
    border: 1px var(--green) solid;
    border-radius: 5px;
    margin-left: 15px;
}
.say-hello-botton a:hover {
    color: var(--green);
}
:root{
    --navy: #0a192f; 
    --lightest-navy: #233554;
    --green: #64ffda;
    --lightest-slate: #ccd6f6;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --light-navy: #112240;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-s: 14px;
    --fz-m: 16px;
    --fz-xl: 20px;
    --fz-h3: 23px;
    --fz-heading: 32px;
    --fz-h1: 50px;
    --fz-xxl: 80px;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

    --dark-navy: #020c1b;  
    --navy-shadow: rgba(2,12,27,0.7);     
    --white: #e6f1ff;  
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;     
    --fz-lg: 18px;   
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}