body{
    /*background-image: url("../img/hero-bg.jpg");*/
    background-color: var(--navy);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
/* header*/
.header
{
    height: 100px;
    width: 100%;
    position: absolute;
}
.navbar-links-container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-links{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-links a, a.resume-link{
    
    font-family: var(--font-mono);
    text-decoration: none;
    color: var(--lightest-slate);  
    font-size: 15px; 
    font-weight: 400;
    text-align: center;
    padding: 15px;   
}
a.resume-link{
    border: 1px var(--green) solid;
    border-radius: 5px;
    margin-left: 15px;
}
a:hover {
    color: var(--green);
}
/*section intro*/
.main-class {
    margin: 0;
    padding: 0 150px;
    
}
.hero-image {
    height: 100vh;
}
.hello-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
.hello-container .hello-paragraph {
    font-size: 16px;
    font-family: var(--font-mono);
    color: var(--green);
    margin: 0 0 10px 4px;
}
.hello-container h1 {
    font-size: 70px;
    font-family: var(--font-sans);
    color: var(--lightest-slate);
    margin: 0;
}
.hello-container .intro-information {
    font-size: 16px;
    font-family: var(--font-mono);
    color: var(--slate);
}
.container{

    text-align: center;
}

/*main*/
/*.heading{   
    font-family: var(--font-sans);
    font-weight: 600;
    font-size: 88px;
    margin-bottom: 0px;
    color: var(--lightest-slate);
}

.subheading{
    font-family: var(--font-sans);
    font-size: 60px;
    font-weight: 400;
}
.hero-image{
    margin: 200px auto 500px;
}
.intro{
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
    
}
.intro h3{
    font-size: 28px;
    font-weight: 500;
}
.intro p{
    font-size:18px;
    font-weight: 400;
}*/

/*skills*/
/*.skills-list{
    font-size:16px;
    
}
.skill-html{
    padding-left: 25px;
    background-image: url(../img/icon-html.svg);
    background-repeat: no-repeat;
}
.skill-css{
    padding-left: 25px;
    background-image: url(../img/icon-css.svg);
    background-repeat: no-repeat;
}
.level{
    margin: 4px 0 16px;
    padding: 0;
    border: 1px solid #86c3fa;
    border-radius: 80px; 
    
    
    font-size:0;
    
}
.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}*/

/*works*/
/*.works{
    margin: 0 auto;
    max-width: 1200px;  
    padding: 0 16px;
    background-color: #86c3fa; 
}
.works h2{
    margin: 100px auto 50px;
    text-align: center;
    font-family: "Old Standard TT", "Times", "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 60px;
}
.grid-works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 350px);
    column-gap: 10px;
    row-gap: 10px;
}*/
/*.grid-works a:hover{
    outline: none;
    box-shadow: 0 0 5px 1.5px rgb(9, 65, 53);
}*/
/*.work-one{
    background-color: white;
    position: relative;  
    border-radius: 20px;
}
.work-one img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.work-two{
    background-color: blue;
}
.work-three{
    background-color: #47759c;
}
.work-four{
    background-color: blue;
}
.work-five{
    background-color: #47759c;
}
.works p{
    font-size: 18px;
    font-weight: 400;
}



.page-footer{
    margin-top: 100px;
    background-color: #00417d;
}*/
/*footer*/
/*.footer-contacts-links{
    padding: 32px 0 32px;
    text-align: right;
    max-width: 1408px;
    
}
.footer-contacts-links a{
    padding-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.phone-link-footer{
    margin-left: 50px;
    background-image: url("../img/icon-phone-footer.svg");
    background-repeat: no-repeat;
}
.email-link-footer{
    background-image: url("../img/icon-email-footer.svg");
    background-repeat:no-repeat;
}*/

:root{
    --navy: #0a192f;
    --lightest-slate: #ccd6f6;
    --green: #64ffda;
    --slate: #8892b0;

    --dark-navy: #020c1b;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --light-slate: #a8b2d1;
    --white: #e6f1ff;  
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}