img.github-link:hover {
    background: url(https://github.com/imLIVI/site-portfolio/blob/gh-pages/img/icon-github-hover-light.png?raw=true); 
    width: 30px;
    transform: scale(1.05);
}
img.telegram-link:hover {
    background: url(https://github.com/imLIVI/site-portfolio/blob/gh-pages/img/icon-telegram-hover-light.png?raw=true); 
    width: 30px;
    transform: scale(1.05);
}
img.vk-link:hover {
    background: url(https://github.com/imLIVI/site-portfolio/blob/gh-pages/img/icon-vkontacte-hover-light.png?raw=true); 
    width: 30px;
    transform: scale(1.05);
}
:root{
    --navy: #ffffff; 
    --lightest-navy: #233554;
    --bright-color: #806bff;
    --lightest-slate: #717279;
    --slate: #000000;
    --light-slate: #717279;
    --light-navy: #dcd7f8;
}